src/main/app/processarchetype.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <ws:consumer-config name="Web_Service_Consumer" service="${wsdl.service}" port="${wsdl.port}" serviceAddress="${wsdl.address}" wsdlLocation="${wsdl.location}" doc:name="Web Service Consumer"/>
    <flow name="processarchetypeFlow">
        <anypoint-mq:subscriber config-ref="Anypoint_MQ_Configuration" destination="${amq.destination}" doc:name="Anypoint MQ" pollingTime="${amq.poolingTime}"/>
        <validation:is-email message="This user not belongs Inchcape domain" email="email@inchcape.com" doc:name="Minimal Validation for EndUser"/>
        <batch:set-record-variable variableName="PayloadMessage" value="#[payload]" doc:name="Persist Variable"/>
        <json:validate-schema schemaLocation="schemas/sample.json" doc:name="JSON Schema Validation"/>
        <message-property-filter pattern="#[message.inboundProperties.'headers'=='TYPE']" caseSensitive="true" doc:name="Filter by HEAD property"/>
        <flow-ref name="solvetargetsystem" doc:name="solvetargetsystem"/>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
